.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
source_folder/
# *.RData
# Ignore .Rmd files recursively
# **/*.Rmd
**/january.RData
**/README.html
data_files/README.html
**/pems_repl_all_data.RData
**/pems3_all_data.RData